main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #ffffff;
}

h1, h2 {
    color: #0f172a;
    margin-bottom: 12px;
}

#wireframe {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#wireframe div {
    width: 100%;
}

#wireframe img {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.grid-cols-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.color-card {
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding: 0.75rem;
    text-align: left;
}


.color-card h6 {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 400;
}


.dark {
    background-color: #0C1229;
}

.cyan {
    background-color: #0BBBB6;
}

.dark-cyan {
    background-color: #15616D;
}

.yellow {
    background-color: #C9A236;
}


.text-dark {
    color: #0C1229;
}

.text-yellow {
    color: #C9A236;
}

.text-cyan {
    color: #0BBBB6;
}

.text-dark-cyan {
    color: #15616D;
}



.py-2 {
    padding-top: 2rem;
}

.list-unstyled {
    list-style-type: none;
    padding: 0;
}